<div class="table-responsive">
    <table id="table-clientes" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <td>Id</td>
                <td>Cedula</td>
                <td>Nombre Completo</td>
                <td>Accion</td>
            </tr>
        </thead>
    </table>
</div>

